* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.circle {
    background-color: #236df7;
    height: 43.4rem;
    width: 100%;
    border-bottom-right-radius: 95%;

}

.form_feild {
    margin-left: 8rem;
}

.input_feild {
    width: 28rem;
}

.submit {
    padding-left: 160px;
    /* background-color:#236df7 ; */
}

.margin {
    margin-top: -20px;
}

.checkbox {
    font-size: 12px;
}